<form action="/payment/new/results">
  <label for="apr_id">APR</label>
  <input id="apr_id" type="text" name="apr" placeholder="E.g. 5.42">
  <br>

  <label for="years_id">Number of years</label>
  <input id="years_id" type="text" name="years" placeholder="How many years to repay?">
  <br>

  <label for="principle_id">Principal</label>
  <input id="principle_id" type="text" name="principal" placeholder="How much principal?">
  <br>

  <button>Calculate monthly payment</button>
</form>
