<form action="/square/new/results">
  <label for="num_id">Enter a number</label><br>
  <input id="num_id" type="text" name="number" placeholder="What number do you want"><br>
  <button>Calculate square</button>
</form>
